<ion-header>
  <ion-toolbar>
    <ion-title>
      Demo Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- searched bar -->
  <ion-searchbar [(ngModel)]="searchInput" animated placeholder="Search Items" (ionInput)="getItems($event)">
  </ion-searchbar>
  <!-- list of item searched -->
  <ion-list *ngFor="let item of newItems">
    <ion-item>{{item?.value}}</ion-item>
  </ion-list>
  <!-- searched item not found -->
  <div class="error-msg" *ngIf="newItems.length <= 0">No Products Available</div>
</ion-content>